img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

ul.docs-children li.h2.py-1{
  font-size: 1rem;
}

ul.docs-children li.h2.py-1 a{
  color: #338;
}

div.main a{
  color: #338;
}

bg-primary-next-prev {
  background-color: #FFF;
  color: #338;
}

code.has-jax {
    -webkit-font-smoothing: antialiased;
    background: inherit !important;
    border: none !important;
    font-size: 100%;
}

.ml-2, .mx-2 {
    margin-left: .7rem !important;
}

.main>h1 {
  font-size: 1.5rem;
  display: inline-block;
  border-bottom: 1px dotted #333;
}
.main>h2 {
  font-size: 1.3rem;
}
.main>h3 {
  font-size: 1.1rem;
}
.main>h4,
.main>h5,
.main>h6 {
  font-size: 0.9rem;
}

.post-title {
    margin-top: 1em;
    margin-bottom: 0.4em;
    padding-bottom: 0.3rem !important;
    padding-top: 0.3rem !important;
    color: #333 !important;
    display: inline-block !important;
    border-bottom: 4px solid #333 !important;
    border-top: 4px solid #333 !important;
}
