{{ define "main" }}

<div><h1 class="post-title">{{ .Title }}</h1></div>

{{ .Content }}

    {{ if .IsTranslated }}
        <h4>{{ i18n "translations" }}</h4>
        <ul>
            {{ range .Translations }}
                <li>
                    <a href="{{ .RelPermalink }}">{{ .Lang }}: {{ .Title }}</a>
                </li>
            {{ end }}
          </ul>
    {{ end }}

{{ end }}
